#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  background-color: #131316;
  font-family: 'Poppins', sans-serif;
}
section {
  color: white;
  display: grid;
  align-items: center;
  min-height: 100vh;
  font-size: x-large;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.hiddo {
  opacity: 0.5;
  filter: blur(10px);
  font-size: small;
  transform: translateX(-80%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transition: all 2s;
  font-size: xx-large;
  transform: translateX(0);
}

.mouse {
	width: 50px;
	height: 90px;
	border: 3px solid #e6f3dd;
	border-radius: 60px;
	position: relative;
	&::before {
		content: '';
		width: 12px;
		height: 12px;
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		background-color: #eff6eb;
		border-radius: 50%;
		opacity: 1;
		animation: wheel 2s infinite;
		-webkit-animation: wheel 2s infinite;
	}
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}